
# Project exclude paths
*.hprof
/.gradle/
/build/
/SecureChat/app/build/
/SecureChat/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
.idea/
.gradle-user-home/
*.xml
*.iml
.gradle/
build/
=======

